## File-based project format:  
*.iws  
*.iml  
*.ipr  
  
## Plugin-specific files:  
  
# IntelliJ  
/out/  
  
# mpeltonen/sbt-idea plugin  
.idea_modules/  
  
# JIRA plugin  
atlassian-ide-plugin.xml  

# CLion
.idea/  
cmake-build-debug/ 
CMakeLists.txt
